<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Please rate your service at our dealership</title>
</head>
<body>
    <div class="container">
        <img src="../static/logo.png" alt="Lexus logo" class="logo">
        <!-- todo - message -->
        <form action="/submit" method="POST">
        
        </form>
    </div>
</body>
</html>